    <!-- Floating Particles -->
    <div class="particles">
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
    </div>

    <!-- Preloader -->
    <div class="preloader" id="preloader">
        <div class="loader-container">
            <div class="loader-logo">
                <i class="fas fa-brain"></i>
            </div>
            <div class="loader-title">Mock Quiz Hub</div>
            <div class="loader-subtitle">Preparing your learning experience</div>
            
            <div class="progress-container">
                <div class="progress-bar" id="progressBar"></div>
            </div>
            
            <div class="loading-text">
                <span class="loading-dots">Loading</span>
            </div>
        </div>
    </div>
<!-- Floating Particles -->
<div class="particles">
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
</div>

<!-- Preloader -->
<div class="preloader" id="preloader">
    <div class="loader-container">
        <div class="loader-logo">
            <i class="fas fa-brain"></i>
        </div>
        <div class="loader-title">Mock Quiz Hub</div>
        <div class="loader-subtitle">Preparing your learning experience</div>
        <div class="progress-container">
            <div class="progress-bar" id="progressBar"></div>
        </div>
        <div class="loading-text">
            <span class="loading-dots">Loading</span>
        </div>
    </div>
</div>